.idea/
.vscode/
**/target/
**/target-*/
**/*.pdb
**/node_modules/
**/dist/
**/.env
**/.env.*
!**/.env.example
infra/production.env
*.log
*.tsbuildinfo
backups/*
!backups/.gitkeep
watcher-installations/
dist/
